# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-eventhub
scikit-learn==1.2.2
category_encoders
numpy==1.26.4
joblib
haversine
xgboost
pandas
